.paragraphContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 1.6rem;
}

.icon {
    display: flex;
    flex: 10%;
    font-size: 10rem;
    margin-right: 1.5rem;
}

.aboutText {
    flex: 90%;
}