/*
  Pontus Lindblom's Custom CSS Reset
  
  Inspired by these Custom CSS Reset sources:
  https://www.joshwcomeau.com/css/custom-css-reset/
  https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
  https://css-tricks.com/notes-on-josh-comeaus-custom-css-reset/
  https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/
*/

/* Use a more intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* Increase line-height for accessibility */
body {
  line-height: 1.2;
}

/* Make images and videos easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
  list-style: none;
}

/* Remove spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Remove anchor tag styling */
a {
  color: inherit;
  text-decoration: none;
}