.blogPost {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    padding: 0.5rem 0.8rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem;
}

.blogPost:hover {
    background: #f0f0f0;
}

.blogPost:first-of-type {
    margin-top: 2rem;
}

.lineSeparator {
    border-top: 0.2rem solid grey;
    margin-block: 0.5rem;
}

.summary {
    margin-bottom: 0;
}