.footerContainer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    padding-block: 1rem;
    margin-top: auto;
}

.footerContainer p {
    margin: 0;
}

.footerItem {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}

.footerItem:first-of-type {
    align-items: flex-end;
    padding-right: 3rem;
    margin-top: -0.1rem;
}

.socialIcons {
    display: flex;
    padding-block: 0.7rem 0.5rem;
    font-size: 3.6rem;
}

.icon {
    margin-inline: 1.2rem;
}

.iconLast {
    margin-inline: 1.2rem 0;
}

.icon:hover {
    color: #e3e3e3;
}

.iconLast:hover {
    color: #e3e3e3;
}

@media (width < 571px) {
    .hideIfNarrow {
        display: none;
    }
}

@media (width < 571px) {
    .centerIfNarrow {
        align-items: center !important;
    }
}