.footerContainer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    min-height: 9.6rem;
    margin-top: auto;
}

.footerContainer p {
    margin: 0;
}

.footerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1.6rem;
    font-size: 1.8rem;
}

.socialIcons {
    display: flex;
    padding-block: 0.5rem;
    font-size: 3.3rem;
}

.marginInline {
    margin-inline: 2.9rem;
}