.footerContainer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    min-height: 9.6rem;
    margin-top: auto;
}

.footerContainer p {
    margin: 0;
}

.footerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.footerItem:last-of-type {
    padding-left: 3.2rem;
}

@media screen and (max-width: 599px) {
    .hideIfNarrow {
        display: none;
    }
}

.socialIcons {
    display: flex;
    padding-block: 0.5rem;
    font-size: 3.3rem;
}

.icon {
    margin-inline: 1.5rem;
}