.navbarContainer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    min-height: 4rem;
}

.navbarLogo {
    padding-inline: 1rem;
}

.navbarText {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    font-size: 1.8rem;
}