.navbarContainer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    min-height: 6.4rem;
}

.navbarLogo {
    padding-inline: 1.6rem;
}

.navbarItem {
    display: flex;
    align-items: center;
    padding-inline: 1.6rem;
    font-size: 2.9rem;
}