.publishDate {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1.6rem;
    margin-top: -1.6rem;
}

.h2Padding {
    padding-block: 1.6rem 0.6rem;
}

.h3Padding {
    padding-top: 0.5rem;
}